<h1 style="text-align: center; color: green;"> All Restaurants </h1>


<div style="text-align: center;">
    <% @restaurants.each do |r| %>
    <ol>
        <%= r.name %>  %>
    <ol>
    <% end %>
</div>